<article class="mb-6 p-4 bg-white rounded-lg shadow-lg border border-gray-200">
    <p class="font-semibold text-gray-800">{{ comment.pseudo }} dit:</p>
    <blockquote class="mt-2 pl-4 border-l-4 border-blue-500 text-gray-600">
        {{ comment.content }}
    </blockquote>
    <p class="accent-gray-500 text-xs mt-1">Publié le : {{ comment.date }}</p>
</article>