<div {{ attributes }} data-poll class="bg-blue-100 text-blue-800 font-semibold py-2 px-4 rounded-lg shadow border border-blue-200 flex items-center justify-center">
    Blogpost: ({{ this.countBlogpost }})
</div>
